<footer class="lbm-footer">

  <div class=siteFooterButtonContainer>
  <span>
    <table border="0" role="presentation">
      <tbody>
        <tr>
          <td><p align="left">Powered by <a href="https://naturalresources.wales/?lang=en">NRW</a></p></td>
          <td><p align="right"><a href="#">Top</a></p></td>
        </tr>
      </tbody>
    </table>  
  </span>
  <div class="siteFooterContactButton" align="center">
  <div class="button-contact-us">
    <a href="mailto:digidol@cyfoethnaturiolcymru.gov.uk?subject=NRW Weeknotes&body=Share your thoughts about our Weeknotes!.">Contact us</a>
  </div>
</div>

</div>

</footer>
