<footer class="lbm-footer">

  <div class=siteFooterButtonContainer>
  <span>
    <p align="left">{{ site.t[page.lang].power | capitalize }} <a href="https://naturalresources.wales/?lang=en">{{ site.t[page.lang].nrw }}</a></p>
    <a href="#skipNavigationLink" aria-label="{{ site.t[page.lang].toptext | capitalize }}" class="back-to-top" >{{ site.t[page.lang].top | capitalize }}</a> 
  </span>
  <div class="siteFooterContactButton" align="center">
    <a href="mailto:digidol@cyfoethnaturiolcymru.gov.uk?subject=NRW Weeknotes&body=Share your thoughts about our Weeknotes!" class="button-contact-us">{{ site.t[page.lang].contact | capitalize }}</a>
  </div>
</div>

</footer>
