.button {
  background: var(--accent-colour);
  color: var(--light-text-colour);
  font-weight: bold;

  &:hover {
    background: var(--button-hover-colour);
    color: var(--light-text-colour);
  }
}
