.button {
  background: var(--accent-colour);
  color: var(--light-text-colour);
  font-weight: bold;

  &:hover {
    background: var(--button-hover-colour);
    color: var(--light-text-colour);
  }
}

.button-contact-us {
  background: var(--accent-colour);
  color: #ffffff;
  font-weight: bold;
  border-radius: 3px;
  text-decoration: none;
  border: 1px solid;
  height: 40px;
  width: 124.61px;
  line-height: 51.6px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  a:link{
    color: #ffffff;
    text-decoration:none;
    display: block;
    text-decoration:none;
    font-family:Arial;

    &:focus{ 
      text-align: center;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }

  &:hover {
    background: var(--button-hover-colour);
    color: var(--light-text-colour);
  }
}