/* ==========================================================================
   8. Site Footer
   ========================================================================== */

.site-footer {
  padding: 1.66667em 0;
}

.offsite-links {
  margin-bottom: 1.11111em;
  a {
    color: _palette(primary);
    display: inline-block;
    font-size: 18px;
    margin-right: 15px;
    text-decoration: none;
    &:hover{
      color: _palette(theme);
    }
  }
}

.site-info {
  font-size: 14px;
}

.back-to-top {
  display: inline-block;
  font-size: 18px;
  margin-top: 1.25rem;
  padding: 10px 15px 10px 15px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  position: static;
  right: 0;
  display: inline-flex;
  align-items: center;
  &:hover {
    text-decoration: none;
  }
}

@media only screen and (min-width: 320px) {
  .footer-bottom {
    padding-right: 60px;
    position: relative;
  }

  .back-to-top {
    margin: 0;
    position: absolute;
    right: 0;
    //top: 87%;
    //-webkit-transform: translateY(-87%);
    //transform: translateY(-87%);
    margin-top: 10px;
  }
}
