<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en-UK' }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.redirect %}{{ page.title }} | {% endif %}{{ site.t[page.lang].title }}</title>
  <meta name="description" content="{{ page.description | default: site.t[page.lang].description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  {% if page.redirect %}
  <meta http-equiv="refresh" content="0;URL='{{ page.redirect }}'" /> 
  {% endif %}

  {% if site.favicon and site.favicon != "" %}
  <link rel="shortcut icon" href="{{ site.favicon | relative_url }}" type="image/png" />
  {% endif %}

  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i%7CNoto+Serif:400,400i,700,700i&display=swap" rel="stylesheet">
  <link rel="stylesheet" media="all" href="{{site.baseurl}}/assets/css/style.css" />
</head>
<body class="lang-{{page.lang}}">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  <a href="#maincontent" class="skipNavigationLink" id="skipNavigationLink">{{ site.t[page.lang].skip}}</a>

  <header class="app-top-bar">
    {% if page.url == "/" %}
    <h3 class="app-title site-title">{{site.t[page.lang].title}}</h3>
    {% else %}
    <h3 class="app-title site-title"><a class="logo-text" href="{{ site.baseurl }}/">{{site.t[page.lang].title}}</a></h3>
    {% endif %}

    {% if page.is_post %}
    {% include language-switcher.html pages=site.posts %}
    {% else %}
    {% include language-switcher.html pages=site.pages %}
    {% endif %}

    <input type="checkbox" id="tm" class="app-menu__checkbox" aria-label="open menu">
		<label for="tm" class="tm app-menu__toggle"><span>{{ site.t[page.lang].menu | capitalize }}</span></label>
    <nav class="app-nav">
      <ul class="app-menu">
        {% for item in site.navigation %}
        {% assign current = nil %}
        {% if page.url == item.url %}
        {% assign current = 'app-menu-item--current' %}
        {% endif %}
        <li class="app-menu-item {{ current }}">
          <a class="{{ current }}" href="{{ site.t[page.lang].root }}{{ item.url }}">{{ item[page.lang] | capitalize }}</a>
        </li>
        {% endfor %}        
      </ul><!-- .menu -->
    </nav>
    
  </header>
  <main id="maincontent"></main>
  {{ content }}

</body>
</html>
